* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    /* align-items: center; */
    /* justify-content: space-around; */
}

header {
    flex: 0 15px;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-bottom: thin black solid;
    /* padding: 2em; */
    background-color: rgb(185, 8, 8);
}

.page-title {
    color: rgb(0, 0, 0);
    text-decoration: none;

    /* justify-content: left; */
    /* align-items: center; */
}

.menu-links{
    align-items: center;
    justify-content: left;
}

main {
    flex: 1;
}

footer {
    flex: 0 40px;

}