* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;

}

header {
    flex: 0 15px;
}

.header-color {
    background: rgb(190, 20, 20);
}

nav {
    padding: 0.5em;
    padding-bottom: 1em;
    padding-left: 0em;
}

menu {
    justify-content: right;
}

.nav-item {
    border: thin black solid;
    border-radius: .25em;
    margin: .25em;
    background: rgb(233, 228, 228);
}

.page-title {
    color: rgb(255, 253, 253);
    text-decoration: none;
    position: absolute;
    padding-top: 1em;
}

main {
    flex: 1;
}

footer {
    flex: 0 40px;

}

@media (max-height: 600px){
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}