.quote-wrapper {
    flex: 0 80px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 75vh;
    justify-self: center;
}

.quote-of-the-day {
    flex: 0 100px;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: thin black solid;
    border-radius: .5em;
    background-color: rgb(96, 96, 104);
}

.h3-home {
    border-bottom: thin black solid;
    padding-top: 1em;
    font-weight: bold !important;
}

.h4-home {
    color: rgb(255, 253, 253);
    font-weight: bold !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: thin white solid;
}

.rating {
    color: rgb(35, 21, 165); 
    font-weight: bold;
}

.book {
    margin-left: 1em;
    border-bottom: thin black solid;
}

.book-data {
    border: thin solid black;
    border-radius: .25em;
    padding: .5em;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 7em;
}

#book-title {
    margin: 0;
    margin-bottom: 0.5em;
}

#author {
    margin: 0;
}

.book-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    columns: 2;
    column-gap: 2em;
}

.book-data-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.quote {
    padding-top: 0.5em;
    color: rgb(255, 253, 253);
    font-style: italic;
}

.quote-author {
    padding-top: 0.5em;
    color: rgb(255, 253, 253);
    font-style: italic;
}

.review-button {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.25em;
    background-color: rgb(96, 96, 104);
    color: rgb(255, 253, 253);
    box-sizing: content-box;
}

.button-wrapper {
    height: 5em;
    position: absolute;
    bottom: 3em;
}

.disabled {
    background-color: rgb(34, 158, 85);
}

.average-review {
    margin-bottom: 0;
    margin-top: .5em;
}

.review-button:hover {
    background-color: rgb(142, 142, 153);
}

.disabled:hover {
    background-color: rgb(34, 158, 85);
}

.add-book-button {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.25em;
    box-sizing: content-box;
    background-color: rgb(12, 49, 173);
    color: rgb(255, 253, 253);
}

.add-book-button:hover {
    background-color: rgb(6, 31, 110);
}