.book-wrapper {
    /* flex: 0 200px; */
    display: flex;
    flex-direction: row;
    columns: 3;
    align-items: top;
    margin-top: 1em;
    margin-bottom: 1em;
}

.image {
    flex: 0;
}

.book-data-wrapper {
    flex: .4;
    white-space: nowrap;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
}

.book-data-review {
    padding: 0.5em;
}

.rating-data-wrapper {
    flex: 1.0;
    margin-left: 0.5em;
    display: flex;
    flex-direction: row;
}

.rating-data {
    border: thin black solid;
    padding: 0.5em;
    padding-bottom: 0;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    background-color: rgb(96, 96, 104);
    color: rgb(255, 253, 253);
}

.h3-review {
    font-weight: bold !important;
    padding-top: 1em;
}

.h4-review {
    align-self: center;
    font-weight: bold !important;
    border-bottom: thin black solid;
}

.h4-summary {
    align-self: center;
    font-weight: bold !important;
    border-bottom: thin black solid;
}

.rating-data > p {
    margin-bottom: 0;
}

.title {
    justify-self: center;
    font-weight: bold;
    font-size: 20px;
}

.data-table {
    border-bottom: thin black dotted;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.rating-reviews {
    font-weight: bold;
    color: rgb(255, 253, 253);
}

.star {
    color: rgb(243, 247, 20);
}

.summary {
    margin-top: 1em;
}

.accordion {
    margin-top: 1em;
    margin-bottom: 1em;
}

.accordion-button {
    background-color: rgb(96, 96, 104) !important;
    color: rgb(255, 253, 253) !important;
    font-weight: bold;
    font-size: 20px !important;
}

.review {
    display: flex;
    flex-direction: column;
    border: thin black solid;
    margin-top: 1em;
    border-radius: .25em;
    padding: 1em;
}

.review-star {
    color: rgb(220, 223, 50);
}

.review-comment {
    margin: 1em;
    margin-left: 0.5em;
}

.review-user {
    font-style: italic;
}

.rating-select {
    margin-right: 0.2em;
    width: 1.5em;
    height: 1.5em;
}

.review-box {
    margin-top: 1em;
    /* border: thin gray solid; */
    padding: 0.5em;
    border-radius: 0.25em;
    margin-bottom: 1em;
}

.score-box {
    padding: 0.5em 0;
}

.selection-header {
    font-weight: bold;
    padding-right: 0.5em;
}

.username {
    padding: 0.5em;
    margin-left: 0.5em;
}

.review-text {
    height: 15vh;
}

.review-submit {
    border-color: gray;
    border-radius: 0.25em;
    background-color: rgb(31, 170, 26);
    color: rgb(255, 253, 253);
    margin-top: 0.5em;
}

@media (max-width: 600px) {
    .image {
        display: none;
    }
    .book-data-wrapper {
        margin-left: 0em;
        margin-right: 0.5em;
    }
}

.accordion-button:hover {
    text-decoration: underline;
}