.main-account {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.h2-account {
    font-weight: bold !important;
}

.username-wrapper {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username {
    font-style: italic;
}

.sidebar {
    background-color: rgb(12, 49, 173);
    width: 0.25em;
    height: 1.5em;
    margin-right: 1em;
}

.past-comments {
    /* border-bottom: thin black solid; */
    margin-bottom: 1em;
}

.h4-account {
    font-weight: bold !important;
    /* border-bottom: thin black solid; */
}

.star {
    color: rgb(220, 223, 50);
    margin-bottom: 0.5em;
}

.book-title {
    font-weight: bold;
    margin-bottom: 0;
}

.comment-text {
    margin-left: 0.5em;
}

.comment {
    border: thin black solid;
    padding: 0.5em;
    border-radius: 0.25em;
}

.h3-account {
    font-weight: bold !important;
    margin-bottom: 0.5em !important;
}

.change-wrapper {
    width: 50vh;
}

.change-button {
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-top: 0.25em;
    border-radius: 0.4em;
    background-color: rgb(96, 96, 104);
    color: rgb(255, 253, 253);
}

.change-button:hover {
    background-color: rgb(142, 142, 153);
}

.logout {
    margin-top: 1em;
    border-radius: 0.4em;
    background-color: rgb(231, 22, 22);
    color: rgb(255, 253, 253);
    padding: 0.2em 0.5em;
}

.logout:hover {
    background-color: rgb(194, 21, 21);
}